<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMDB Top 250</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">IMDB Top 250 Tracker</a>
        <a sec:authorize="!isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0" href="/oauth2/authorization/google">Login With Google</a>
        <span sec:authorize="isAuthenticated()" th:text="'Hello, ' + ${#authentication.getPrincipal().getAttributes().get('given_name')}" class="nav-item"></span>
        <a sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Logout</a>
    </nav>
    <main class="container">
        <div class="alert alert-warning" role="alert" th:if="${param.emptyForm == true}">
            Please provide check at least one box to save
        </div>
        <div class="row mb-3">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <div>
                    <strong>Watched: </strong>
                    <span id="watchedCount" th:text="${watchedList != null ? watchedList.watchedCount() : 0}"></span>
                    <span>/ </span>
                    <span>250</span>
                </div>
                <div class="mt-4">
                    <input id="search" class="form-control" type="text" placeholder="Enter movie title to search..." />
                </div>
                <div class="mt-2">
                    <span class="filter btn btn-outline-info" th:each="genre : ${genres}" th:text="${genre}"></span>
                </div>
            </div>
        </div>
        <div class="row" th:each="movie : ${movies}">
            <div class="col-sm-8 offset-sm-2 movie"
                 th:id="${movie.title}"
                 th:classappend="${watchedList != null && watchedList.isWatched(movie.title)} ? 'watched' : ''">
                <div class="watchedTick">
                    <span>✓</span>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <img th:src="${movie.posterUrl}" class="img-fluid d-block mx-auto mx-md-0"/>
                    </div>
                    <div class="col-9 pl-0">
                        <div class="mt-3">
                            <span th:text="${movie.position} + '. '"></span>
                            <a th:href="${movie.imdbUrl}" th:text="${movie.title}"></a>
                            <span class="year" th:text="'(' + ${movie.year} + ')'"></span>
                            <div class="subtitle">
                                <span th:text="${movie.certificate}"></span>
                                <span> | </span>
                                <span th:text="${movie.time}"></span>
                                <span> | </span>
                                <span th:text="${movie.genre}"></span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <strong class="rating" th:text="${movie.rating}"></strong>
                        </div>
                        <span class="oi oi-check"></span>
                        <div class="mt-3">
                            <p th:text="${movie.description}"></p>
                        </div>
                        <div>
                            <span>Director: </span><a th:href="${movie.director.url}" th:text="${movie.director.name}"></a>
                            <span> | </span>
                            <span>Stars: </span><span th:each="star, iter : ${movie.stars}">
                                <a th:href="${star.url}" th:text="${star.name}"></a><span th:if="!${iter.last}">, </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>
